[submodule "ViT_VisionTransformer_PyTorch"]
	path = ViT_VisionTransformer_PyTorch
	url = git@github.com:ayush1399/ViT_VisionTransformer_PyTorch.git
[submodule "datasets"]
	path = datasets
	url = git@github.com:ayush1399/Imagenet_Dataloaders_PyTorch.git
